<!DOCTYPE html>
<html>
  <head>
    <title>About | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
    This application may be related to
    <a href="https://github.com/lbias">Sam's GitHub profile</a>.
    </p>
  </body>
</html>
