<% provide(:title, "Help") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      To get help on this sample app, see the
      <a href="https://github.com/lbias"><em> Sam's GitHub Profile</em> page</a>.
    </p>
  </body>
</html>
